
/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    }

.ingredient-item{
    background-color: #eee;
    margin: 3px;
    padding: 5px;
    padding-left: 20px;
    display: inline;
}
.ingredient-item:hover{
    background-color: #ddd;
}

#ingredients-selector{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#order-button{
    margin-left: 15px;
}

.red{
    color: #d45;
    padding-left: 5px;
}
.green{
    color: #0b1;
    padding-left: 5px;
}

#outer-div, #app-main, body{
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    background-color: #ddd;
    display: flex;
    flex-direction: row-reverse;
}

#login-button{
    background-color: #bbb;
    color: #000;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
    font-size: 150%;
}
#login-button:hover{
    background-color: #555;
    color: #fff;
}

#order-form{
    padding: 30px;
}

thead, th, tr, td{
    border: 1px solid black;
    max-width: 100%;
}
td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
}


.popup-outer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.popup-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.popup-window{
    background-color: white;
    z-index: 2;
    padding: 3%;
    margin: 8%;
    width: 60vw;
    min-height: 40vh;
    max-height: 90vh;
    overflow-y: scroll;
}

.hoverable{
    cursor: default;
}
.hoverable:hover{
    cursor: pointer;
}

.table-sortable{
    background-color: #ddd;
}
.table-sortable:hover{
    background-color: #aaa;
}