.pizza-creator-close{
    /* background-color: #444; */
    /* transition: transform 0.4s; */
    transform: scale(2);
}
.pizza-creator-close:hover{
    transform: scale(2.5);
    cursor: pointer;
}

.creator-top-bar{
    display: flex;
    justify-content: flex-end;
}

.pizza-creator-outer{
    border: 1px solid black;
    /* width: 90vw; */
    padding: 2vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: #eee;
}


.ingredient-item{
    background-color: #eee;
    text-align: center;
    min-width: 20ch;
    margin: 5px;
    min-height: 3em;
    padding: 5px;
    box-shadow: 2px 3px 3px #ccc, -2px -3px 3px #fff;
    transform: translate(-1px, -1.5px);
    border-radius: 10px;
}
.ingredient-item:hover{
    /* background-color: #ddd; */
    box-shadow: 1px 1px 3px #ccc, -1px -1.5px 3px #fff;
    transform: translate(0px, 0px);
}
/* .ingCheck:checked + div{ */
.ing-item-checked{
    box-shadow: inset 2px 3px 3px #ccc, inset -2px -3px 3px #fff !important;
    transform: translate(1px, 1.5px) !important;
    font-style: italic;
    background-color: #ddd;
}

#ingredients-selector{
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.ingredients-yes .ingredients-no {
    display: flex;
    flex-wrap: wrap;
}

.red{
    color: #d45;
    padding-left: 5px;
}
.green{
    color: #0b1;
    padding-left: 5px;
}