.pizza-creator-close{
    /* background-color: #444; */
    /* transition: transform 0.4s; */
    transform: scale(2);
}
.pizza-creator-close:hover{
    transform: scale(2.5);
    cursor: pointer;
}

.creator-top-bar{
    display: flex;
    justify-content: flex-end;
}

.pizza-creator-outer{
    border: 1px solid black;
    width: 90vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}


.ingredient-item{
    background-color: #eee;
    margin: 10px;
    min-height: 40px;
    padding: 5px;
    padding-left: 3vw;
    padding-right: 1vw;
    /* display: inline; */
    box-shadow: 2px 3px 5px #aaa;
    transform: translate(-1px, -1.5px);
}
.ingredient-item:hover{
    background-color: #ddd;
    box-shadow: 1px 1.5px 5px #aaa;
    transform: translate(0px, 0px);
}
.ingCheck:checked + div{
    box-shadow: inset 2px 3px 5px #aaa;
    transform: translate(1px, 1.5px);
}

#ingredients-selector{
    display: grid;
    grid-template-columns: auto auto auto;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.ingredients-yes .ingredients-no {
    display: flex;
    flex-wrap: wrap;
}
