table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid #ddd;
    border-bottom: 2px solid black;
    /* height: 1.5em; */
    padding: 3px;
}
tr:hover{
    background-color: #bbb;
}
#tables-div{
    padding: 50px;
}
.row-hovered{
    background-color: #ddd;
}